p {
    color: black;
	font-family: Times New Roman;
}
ol {
    color: black;
	font-family: Times New Roman;
}
h1 {
    color: black;
	font-family: Algerian;
}
h2{
	color: rgb(0, 0, 0);
	font-family: 'Times New Roman', Times, serif;
}